:root {
  --clr-primary-200: #b9b9b9;
  --clr-primary-500: #188bc4;
  
  --clr-secondary-600: #8499a0;
  
  --clr-nutral-500: #333333;
  --clr-nutral-700: #111111;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-block-end: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

body {
  background-color: var(--clr-nutral-700);
  // font-family: -a pple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  //   "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // background-image: url(./Assets/background.jpg);
  // background-size: cover;
  // background-attachment: fixed;

  color: var(--clr-primary-200);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 2rem;
}

.nave-bar {
  display: flex;
  height: 2rem;
  margin-left: 10%;
}

.link {
  color: var(--clr-primary-200);
  margin-right: 2rem;
  text-decoration: none;
}

.bio {
  max-width: 45rem;
  min-width: 29rem;
  font-size: 2rem;
  margin-block: 20%;
}

.bio p {
  color: var(--clr-secondary-600);
}

.present-card {
  max-width: 55rem;
  min-width: 34rem;
  margin-block-start: 10%;

}

.skills {
  display: flex;
  flex-direction: column;
  margin-block-start: 10rem;
}

.skills-card {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: var(--clr-nutral-500);
  
}

.skills-card-groub{
  margin-block: 0%;
  margin-inline: 10%;
  padding: 0%;
  color: var(--clr-primary-200);
}
.skills-card-groub ul{
  display: flex;
  list-style-type: none;
  min-width: fit-content;
}

.skills-card-groub li {
  max-width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: fit-content;
}

@media (max-width: 55em) {
  .skills-card-groub ul {
    display: block;
  }
}

.shadow {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  border: 1px solid var(--clr-nutral-500);
}

.shadow:hover {
  box-shadow: 0 0 11px var(--clr-nutral-500);
}

.projects {
  display: flex;
  margin-block-start: 5rem;
  // width: fit-content;
  // justify-content: spa;
  align-items: center;
}

.project-brief {
  margin: 1rem;
  max-width: 40%;
  min-width: 28%;
  padding: 0.5rem;
  text-align: center;
  height: fit-content;
}
@media (max-width: 69em) {
  .projects {
    flex-direction: column;    
  }
  .project-brief {
    min-width: 19rem;
    max-width: 30rem;
  }
}

.refrences {
  display: flex;
  justify-content: center;
}
.refrences > button {
  background-color: transparent;
  border-style: none;
  display: flex;
  border: 1px solid var(--clr-nutral-500);
  border-radius: 5px;
  color: var(--clr-primary-200);
  margin-left: 0.2rem;
}

.refrences > button > img {
  width: 2rem;
}

.refrences > button > label {
  margin-top: 0.3rem;
  font-size: small;
}

.refrences > button:hover {
  box-shadow: 0 0 11px var(--clr-nutral-500);
  cursor: pointer;
}

.label-hover:hover {
  cursor: pointer;
}

.project-details {
  display: none;
  width: 40rem;
  height: 30rem;
  border: 1px solid var(--clr-nutral-500);
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 0 11px var(--clr-nutral-500);
  background-image: url(./Assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-left: 20%;
}

.project-details:hover {
  cursor: pointer;
}

.show-details {
  display: flex;
}
.hide-details {
  display: none;
}

#project-details-exit-icon {
  width: 3rem;
  height: 3rem;
  margin-left: 92%;
  position: absolute;
}


.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-cv {
  padding: 0.75rem 2rem ;
  margin: 1rem;
  background-color: var(--clr-secondary-600);
  color: var(--clr-nutral-500);
  border-style: none;  
  font-size: 1rem;
}

.btn-cv:hover {
  cursor: pointer;
  box-shadow: 0 0 11px var(--clr-secondary-600);
}